<%- include('partials/navbar.ejs') %>

<body>

    <div class="new-container">
        <h1>
          <%= heading %>
        </h1>
    
        <div class="new-form">
            <% if (locals.review) { %>
         
                <form id="editForm" method="post" action="/review/<%= movie.id %>/<%= movie.original_title %>/update" class="new">
                    <input type="hidden" name="movieId" value="<%= movieId %>">
                    <div class="input-container">
                        <input type="text" name="name" value="<%=review.name %>"><span>Title</span>
                    </div>
                    <div class="input-container">
                        <input type="hidden" name="editReviewId" value="<%= review.id %>">
                        <input type="text" name="score" value="<%=review.score %>"><span>Score</span>
                    </div>
                    <div class="input-container">
                        <textarea name="content" rows="10"><%=review.content %></textarea><span>Content</span>
                    </div>
                    <div class="new-button">
                        <button type="submit">
                            <%= submit %>
                        </button>
                    </div>
                </form>
    
            <% } else { %>
             
                <form id="newForm" method="post" action="/review/<%= movie.id %>/<%= movie.original_title %>/add" class="new">
                    <input type="hidden" name="movieId" value="<%= movieId %>">
                    <div class="input-container">
                        <input type="text" name="name" required><span>Title</span>
                    </div>
                    <div class="input-container">
                        <textarea name="content" required rows="10"></textarea><span>Content</span>
                    </div>
                    <div class="input-container">
                        <input type="text" name="score" required><span>Score</span>
                    </div>
                    <div class="new-button">
                        <button type="submit">
                            <%= submit %>
                        </button>
                    </div>
                </form>
    
            <% } %>
        </div>
        
    </div>
    
</body>

<%- include('partials/footer.ejs') %>
