<%- include('partials/navbar.ejs') %>

<body>

    <div class="review-background">
        <!-- Header -->
        <div class="review-header">
            <h1><%= movie.original_title %></h1>
        </div>

        <!-- Cover Image -->
        <div class="cover-image">
            <img class="review-bg" src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>">
            <!-- Add button -->
            <a href="/review/<%= movie.id %>/<%= encodeURIComponent(movie.original_title) %>/new" class="add-button"><i class='bx bx-plus'></i> Add review</a>
        </div>
    </div>

    <!-- Content Box -->
    <div class="box">
    
        <div class="review-container">
            <% for(let singleReview of review) { %>
                <div class="review-card">
                    <div class="name-score">
                        <h2 id="<%= singleReview.id %>"><%= singleReview.name %></h2>
                        <input type="hidden" name="updatedItemId" value="<%= singleReview.id %>">
                        <p id="<%= singleReview.id %>"><%= singleReview.score %> <i class='bx bxs-star'></i></p>
                    </div>
                    
                    <h4 class="review-content" id="<%= singleReview.id %>"><%= singleReview.content %></h4>
        
                    <div class="review-button">
                        <!-- Change this form to use GET for editing -->
                        <form action="/review/<%= movie.id %>/<%= encodeURIComponent(movie.original_title) %>/edit/<%= singleReview.id %>" method="get">
                            <button type="submit"><i class='bx bxs-pencil'></i></button>
                        </form>
        
                        <!-- Delete Review Form -->
                        <form action="/review/<%= movie.id %>/<%= encodeURIComponent(movie.original_title) %>/delete/<%= singleReview.id %>" method="post">
                            <button type="submit"><i class='bx bxs-trash'></i></button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    
    </div>
    
</body>

<%- include('partials/footer.ejs') %>
